@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: roboto;
  background-color: #FFFFFF;
  font-color: #494949;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #83EDD9;
}

.nav {
  display: flex;
  flex:4;
}

ol {
  display: flex;
  list-style-type: none;
}

li {
  margin: 0 9px;
}

.login {
  display:flex;
  flex:1;
  color: #494949;
  background-color: #145372;
}

a {
  color: #494949;
}
